PORT=3000
ACCESS_SECRET=dev_access_secret
REFRESH_SECRET=dev_refresh_secret
ACCESS_EXPIRES_IN=15m
REFRESH_EXPIRES_IN=7d
REDIS_URL=redis://127.0.0.1:6379
REDIS_DISABLED=false

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123
ADMIN_FIRST_NAME=Admin
ADMIN_LAST_NAME=User
