PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pr19

# If DATABASE_URL is not used, fill the values below.
PGHOST=localhost
PGPORT=5432
PGDATABASE=pr19
PGUSER=postgres
PGPASSWORD=postgres

# true for managed PostgreSQL with SSL
DATABASE_SSL=false
